## Encoding :

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [10]:
df = pd.read_csv('zomato.csv',encoding='latin1',usecols=['Restaurant ID','Has Table booking','Rating text'])
df.head()

   Restaurant ID Has Table booking Rating text
0        6317637               Yes   Excellent
1        6304287               Yes   Excellent
2        6300002               Yes   Very Good
3        6318506                No   Excellent
4        6314302               Yes   Excellent

import

- Matter is simple we just make another copy of our data inorder to make it secrate and make the obj of labelencoder.

In [11]:
df_copy = df.copy()
le = LabelEncoder()

- Make another col and assigne the transform value

In [14]:
df_copy['new_booking'] = le.fit_transform(df_copy['Has Table booking'])
df_copy[['Restaurant ID','Has Table booking','new_booking','Rating text']].head()

   Restaurant ID Has Table booking  new_booking Rating text
0        6317637               Yes            1   Excellent
1        6304287               Yes            1   Excellent
2        6300002               Yes            1   Very Good
3        6318506                No            0   Excellent
4        6314302               Yes            1   Excellent

In [15]:
print("yallah Pakistan parr ky")

yallah Pakistan parr ky

In [16]:
df.head()

   Restaurant ID Has Table booking Rating text
0        6317637               Yes   Excellent
1        6304287               Yes   Excellent
2        6300002               Yes   Very Good
3        6318506                No   Excellent
4        6314302               Yes   Excellent

In [20]:
df2 = pd.read_csv('zomato.csv',encoding='latin1',usecols=['Restaurant ID','Has Table booking','Rating text','Rating text'])

In [26]:
df2['Rating text'].unique()   #so 1-5 number well be assigne according to (['Excellent', 'Very Good', 'Good', 'Average', 'Not rated', 'Poor'])

array(['Excellent', 'Very Good', 'Good', 'Average', 'Not rated', 'Poor'],
      dtype=object)

In [23]:
df2_copy = df2.copy()
df2_copy['new_table'] = le.fit_transform(df2_copy['Has Table booking'])
df2_copy['new_rating_text'] = le.fit_transform(df2_copy['Rating text'])

df2_copy[['Restaurant ID','Has Table booking','new_table','Rating text','new_rating_text']].head()

   Restaurant ID Has Table booking  new_table Rating text  new_rating_text
0        6317637               Yes          1   Excellent                1
1        6304287               Yes          1   Excellent                1
2        6300002               Yes          1   Very Good                5
3        6318506                No          0   Excellent                1
4        6314302               Yes          1   Excellent                1