In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv('zomato.csv',encoding='latin1',usecols=['Has Table booking','Switch to order menu','Rating color'])

In [11]:
df.head()

  Has Table booking Switch to order menu Rating color
0               Yes                   No   Dark Green
1               Yes                   No   Dark Green
2               Yes                   No        Green
3                No                   No   Dark Green
4               Yes                   No   Dark Green

In [12]:
df['Rating color'].value_counts() #now this is not ordinal but this is nominal.

Rating color
Orange        3737
White         2148
Yellow        2100
Green         1079
Dark Green     301
Red            186
Name: count, dtype: int64

In [13]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [14]:

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_split = train_test_split( x,y,test_size=0.2,random_state=42)

In [15]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories=[])
oe.fit(x_train)

x_train_scaled = oe.transform(x_train)
x_test_scaled = oe.transform(x_test)

ValueError: Shape mismatch: if categories is an array, it has to be of shape (n_features,).

In [ ]:
x_train.head()

     Has Table booking Switch to order menu
1115               Yes                   No
7633                No                   No
8267                No                   No
7209                No                   No
6242                No                   No

In [ ]:
pd.DataFrame(x_train_scaled).head()

     0    1
0  1.0  0.0
1  0.0  0.0
2  0.0  0.0
3  0.0  0.0
4  0.0  0.0

In [ ]:
df.head()

  Has Table booking Switch to order menu Rating color
0               Yes                   No   Dark Green
1               Yes                   No   Dark Green
2               Yes                   No        Green
3                No                   No   Dark Green
4               Yes                   No   Dark Green

In [16]:
df['Rating color'].value_counts()

Rating color
Orange        3737
White         2148
Yellow        2100
Green         1079
Dark Green     301
Red            186
Name: count, dtype: int64

In [17]:
from sklearn.preprocessing import OneHotEncoder
one = OneHotEncoder(sparse_output=False)

encoded_col = one.fit_transform(df[['Rating color']])

split_color = pd.DataFrame(encoded_col)

# COLOR SPLITING :
-there are 5 verious color so accordingly change into 5 col and transform correctly.

In [18]:
split_color

        0    1    2    3    4    5
0     1.0  0.0  0.0  0.0  0.0  0.0
1     1.0  0.0  0.0  0.0  0.0  0.0
2     0.0  1.0  0.0  0.0  0.0  0.0
3     1.0  0.0  0.0  0.0  0.0  0.0
4     1.0  0.0  0.0  0.0  0.0  0.0
...   ...  ...  ...  ...  ...  ...
9546  0.0  1.0  0.0  0.0  0.0  0.0
9547  0.0  1.0  0.0  0.0  0.0  0.0
9548  0.0  0.0  0.0  0.0  0.0  1.0
9549  0.0  1.0  0.0  0.0  0.0  0.0
9550  0.0  1.0  0.0  0.0  0.0  0.0

[9551 rows x 6 columns]